.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 50px rgb(193, 193, 193);
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background 0.5s ease;
  img {
    width: 30%;
  }
  &:hover {
    background-color: lightcyan;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

// sets scrollbar for firefox
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(187, 187, 187, 0.296) transparent;
}

// sets scrollbar for other browsers like chrome
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(187, 187, 187, 0.296);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background-color: rgb(216, 247, 235);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
